<section class="chat" *ngIf="user">
  <div class="chat__container" #scroll>

    <div *ngFor="let message of user.messages; let last = last" class="message"
      [ngClass]="{'message_my': message.from!==user.id}">
      <div class="message__container">
        <div class="text">
          <app-inner-html [html]="message.data"></app-inner-html>
        </div>
        <div class="date">{{message.date | date:'shortTime'}}</div>
      </div>
    </div>

  </div>
  <div class="chat__form">
    <mat-form-field class="form-field">
      <textarea matInput placeholder="Write a message..." name="text" #textarea [(ngModel)]="messageText"
        (keydown.enter)="submit()" (keyup)="updateTextareaSize($event)"></textarea>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="submit()">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </div>
</section>
<section class="chat" *ngIf="!user">
  <div class="info_box">
    <h6>Please select a chat to start messaging</h6>
  </div>
</section>