<div class="page">
  <header>
    <nav class="users" *ngFor="let user of users">
      <label class="user">
        <input type="radio" name="users" class="visually-hidden">
        <div class="user__info">
          <span>{{user.name}}</span>
          <span>{{user.last_message | date:'shortTime'}}</span>
        </div>
      </label>
    </nav>
  </header>
  <section class="chat">
    <div class="chat__info">
      <h1>Vasya</h1>
    </div>
    <div class="chat__container">

      <div class="message">
        <div class="message__container">
          <div class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, obcaecati alias illum quasi blanditiis ipsa incidunt modi molestias adipisci quam delectus est numquam architecto qui amet deserunt iusto perspiciatis minus.</div>
          <div class="date">11:23</div>
        </div>
      </div>

      <div class="message message_my">
        <div class="message__container">
          <div class="text">Wow cool</div>
          <div class="date">11:23</div>
        </div>
      </div>

    </div>
    <form class="chat__form">
      <textarea></textarea>
      <button>Send</button>
    </form>
  </section>
</div>